{% load static %}
 <!-- ======= Footer ======= -->
 <footer id="footer">

  <!-- <div class="footer-newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
        </div>
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Institucional</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Corpo Diretivo</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">CPA</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Missão</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Regimento</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trabalhe no UniDrummond</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Selos e Conquistas</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Aluno</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Biblioteca</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Calendário Acadêmico</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Disciplinas EAD</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Nivelamento</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Manual do Aluno</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Empregos e Estágios</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Diploma</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Formatura</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Rematrícula</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Candidatos</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Graduação</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Revisaço OAB</a></li>
          </ul><br>

          <h4>Pesquisa</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Comitê de Ética em Pesquisa</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Iniciação Científica</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Monitoria</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Pesquisa Docente</a></li>
          </ul><br>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Fale com a UniDrummond</h4>
          <p>
            <strong>Campus Penha </strong> (11) 2227-8400<br>
            <strong>Campus Ponte Rasa </strong> (11) 2214-6644<br>

            <strong>Campus Tatuapé </strong> (11) 2942-1488<br>
            <strong>Campus Vila Formosa </strong> (11) 2076-4600<br>
            <strong>Campus Neo Química Arena </strong> (11) 97034-8098<br>
          </p>
          <div class="social-links mt-3">
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6 footer-info">
          <h3>About Eterna</h3>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links mt-3">
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div> -->

      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Eterna</span></strong>. All Rights Reserved
    </div>
    <div class="credits"> -->
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
      <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div> -->
</footer><!-- End Footer -->
