{% load static %}
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <!-- <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
      <i class="icofont-phone"></i> +1 5589 55488 55 -->
      <i></i>Faculdade
      <i>|</i>Blog
      <i>|</i>Colégio 
      <i>|</i>CPA 
      <i>|</i>Grupo Drummond
      <!-- Faculdade |Blog |Colégio |CPA |Grupo Drummond Buscar -->

    </div>
    <div class="social-links">
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"> <img src="{% static 'img/logo-pequenol.png' %}"/><a href="index.html"><span> Carlos Drummond de Andrade</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Início</a></li>

        <li class="drop-down"><a href="#">Sobre</a>
          <!-- <ul>
            <li><a href="about.html">Institucional</a></li>
            <li><a href="team.html">História</a></li>            
          </ul> -->
        </li>
        <li class="drop-down"><a href="#">Inscreva-se</a>
          <ul>
            <li><a href="#">Colégio</a></li>
            <li><a href="#">Graduação</a></li>
            <li><a href="#">Pós-Graduação</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Fale conosco</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->