{% extends 'drummond/base.html' %}

{% block content %}
<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(static/img/azul-na-decoracao.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Bem vindx a <span>Unidrummond</span></h2>
                <p class="animate__animated animate__fadeInUp"> Com mais de 50 anos de tradição, o Grupo Educacional Drummond é referência em Ensino, Pesquisa e Extensão na cidade de São Paulo. Oferece desde a educação infantil até a pós-graduação, por meio do seu Centro Universitário, suas Faculdade e Colégios.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Saiba mais</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(static/img/laranja-agua.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Vestibular Social <span>Online</span></h2>
                <p class="animate__animated animate__fadeInUp">Clique aqui, confira a sua nota e faça a sua matrícula!</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Saiba mais</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(static/img/azul-tra.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Desafio <span>Cultural</span></h2>
                <p class="animate__animated animate__fadeInUp">Inscrições gratuitas</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Saiba mais</a>
              </div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="carousel-item" style="background: url(static/img/laranja-abs.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Vestibular Online <span>EAD</span></h2>
                <p class="animate__animated animate__fadeInUp">Faça já o Vestibular Online do EAD!</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Saiba mais</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="icofont-institution"></i>
              <h3><a href="">Institucional</a></h3>
             
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-library"></i>
              <h3><a href="">Graduação</a></h3>
              
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-license"></i>
              <h3><a href="">Pós-Graduação</a></h3>
              
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h3><a href="">Educação a distância</a></h3>
              
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-notebook"></i>
              <h3><a href="">Colégio</a></h3>
            
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-chat"></i>
              <h3><a href="">Fale conosco</a></h3>
             
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Notícias</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-mail-send bx-tada"></i></div>
              <h4><a href="">27/10/2020</a></h4>
              <p>Grupo Educacional Drummond convida sua comunidade acadêmica a participar da CPA 2020/2021</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow bx-tada"></i></div>
              <h4><a href="">09/10/2020</a></h4>
              <p>UniDrummond promoverá a Semana de Pedagogia on-line</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-donate-heart bx-tada"></i></div>
              <h4><a href="">30/09/2020</a></h4>
              <p>Alunos do UniDrummond realizam doações de alimentos para moradores de rua</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world bx-tada"></i></div>
              <h4><a href="">28/09/2020</a></h4>
              <p>UniDrummond realiza primeira Formatura Drive Thru na Neo Química Arena</p>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-car  bx-tada"></i></div>
              <h4><a href="">15/09/2020</a></h4>
              <p>Alunos do UniDrummond participarão de formatura Drive Thru</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file bx-tada"></i></div>
              <h4><a href="">11/08/2020</a></h4>
              <p>Grupo Educacional Drummond divulga resultados da CPA 2019/2020</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Clients</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel clients-carousel">
          <img src="static/img/clients/client-1.png" alt="">
          <img src="static/img/clients/client-2.png" alt="">
          <img src="static/img/clients/client-3.png" alt="">
          <img src="static/img/clients/client-4.png" alt="">
          <img src="static/img/clients/client-5.png" alt="">
          <img src="static/img/clients/client-6.png" alt="">
          <img src="static/img/clients/client-7.png" alt="">
          <img src="static/img/clients/client-8.png" alt="">
        </div>

      </div>
    </section>
    End Clients Section -->

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  

</body>

{% endblock %}